.center{text-align:center;}
#featured-property{text-align: center;}
header a{padding-left: 10px;padding-right: 10px;background-color: grey;}
figcaption {font-size: smaller;}
#featured-property p {max-width: 800px; margin-top: 10px;text-align: center;margin: auto;margin-block-end: 10px;}
.contact{float: left;width:25%;}
.correspondence{float:left;width:25%;}
.links{float: left;width: 25%;}
.follow{float: left;width: 25%;}

